/*styles for recipes content only*/

.greyHover {
    transition: background-color 0.2s ease-in;
}

.greyHover:hover {
    background-color: rgb(219, 217, 217)
}

.pointer {
    cursor: pointer;
}

.border-bottom-1 {
    border-bottom: 1px solid black;
}