html, body{
  height: 100%;
  /* font-family: Arial, Helvetica, sans-serif */
}

a.active {
  background-color: gray;
}

.scroll {
  overflow-y: auto;
}

.no-scroll {
  overflow: hidden;
}

.flexOne {
  flex-grow: 1;
}
